%div.container
  %div{ class: 'row justify-content-md-center' }
    %div{class: 'col-md'}
      %h1
        Courses

  - if current_teacher
    %div{ class: 'row justify-content-md-center mb-2' }
      %div{class: 'col-md'} 
        = link_to 'Create Course', new_course_path, class: 'btn btn-primary'

  %div{ class: 'row justify-content-md-center' }
    %div{class: 'col-md'}
      %table{ class: 'table' }
        %thead{ class: 'table-dark' }
          %tr
            %th
              Title
            %th
              Votes
            %th
              Registered
            %th
              Actions
        %tbody
          - if @courses.empty?
            %tr
              %td{ colspan: 3 }
                There are no Courses at the moment
          - else
            - @courses.each do |course|
              %tr{ id: "course-#{course.id}", class: 'course-row' }
                %td
                  = course.title
                %td
                  0
                %td{ id: "course-#{course.id}-registered"}
                  = course.imparted_by?(current_teacher)
                %td
                  %span.details
                    = link_to 'Details', course_path(course.id), class: 'btn btn-primary'
                  %span.vote-status
                    = render partial: 'courses/index/vote_status', locals: { course: course }
                  %span.register-status
                    = render partial: 'courses/index/register_status', locals: { course: course }
                  
      
:javascript
  $(document).ready(function () {
    var courseId = function (event) {
      var courseRow = $(event.target.closest('.course-row'));
      
      return parseInt(courseRow.attr('id').split('-')[1]);
    };

    $(document).on('click', '.register-button', function(event) {
      $.post("#{teacher_courses_path}", { id: courseId(event) });
    });

    $(document).on('click', '.unregister-button', function(event) {
      $.ajax({
        url: '/teacher_courses/' + courseId(event),
        method: 'DELETE',
      });
    });
  });
  